/* #region Body & variables */
body {
	/* Visiblity variables default values (display property) */
	--show-sido: none;
	--show-sgg: none;
	--show-emdong: none;
	--show-li: none;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}

body:has(#show-sido:checked) {
	--show-sido: block;
}

body:has(#show-sgg:checked) {
	--show-sgg: block;
}

body:has(#show-emdong:checked) {
	--show-emdong: block;
}

body:has(#show-li:checked) {
	--show-li: block;
}

/* #endregion*/

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #region header */

header {
	box-sizing: border-box;
	position: fixed;
	z-index: 200000;
	background: #0008;
	backdrop-filter: blur(5px);
	box-shadow: 0px 2px 5px #0004;
	width: calc(100% - 10px);
	height: 60px;
	top: 5px;
	left: 5px;
	border-radius: 8px;
	color: white;
	padding: 0 10px;

	display: flex;
	align-items: center;
	gap: 20px;
}

#app-title {
	width: max-content;
	text-align: center;
	flex-shrink: 0;

	& h1 {
		margin: 0;
		font-size: 1.6em;
		font-weight: 800;
	}

	& h2 {
		margin: 0;
		font-size: 0.6em;
		font-weight: normal;
	}
}

#controls {
	width: fit-content;
	display: flex;
	align-items: center;
	overflow-y: auto;
	gap: 10px;
	margin-left: auto;
	scrollbar-width: none;
}

.show-toggle {
	--highlight-color: #3f8bfd;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	word-break: keep-all;
	background: white;
	padding: 2px 6px;
	border-radius: 4px;
	margin: 0 5px;
	color: var(--highlight-color);
	font-weight: 500;
	opacity: 0.8;
	transition: .3s ease;

	& input {
		cursor: pointer;
		position: fixed;
		top: -1000px;
		left: -1000px;
		opacity: 0;

	}

	&:has(input:checked) {
		background: var(--highlight-color);
		color: white;
		opacity: 1;
	}

	&:hover {
		opacity: 1;
	}

	&::before {
		content: 'visibility';
		font-family: 'Material Symbols Outlined';
		font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
		margin-right: 4px;
	}

	&:has(input:checked)::before {
		content: 'visibility_off';
	}

}

#search {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	height: 30px;
	gap: 2px;


	& input {
		border: 1px solid #eee;
		border-radius: 2px;
		margin: 0;
		display: block;
		height: 100%;
		outline: none;

		&:focus {
			border-color: #3f8bfd;
		}
	}

	& #responsive-search-toggle {
		display: none;
		& input {
			position: fixed;
			top: -1000px;
			left: -1000px;
			opacity: 0;
		}

		cursor: pointer;
		height: 24px;
	}

	& #search-results {
		display: none;
		position: absolute;
		transform: translateY(5px);
		top: 100%;
		left: 0;
		background: #fff;
		width: 100%;
		color: #000;
		max-height: 100px;
		overflow-y: auto;
		box-shadow: 0px 0px 5px #0002;

		&:has(.search-result) {
			/* Display border only when search results are present, to avoid ugly floating gray bar */
			border: 1px solid #bbb;
		}

		border-radius: 4px;

		& .search-result {
			box-sizing: border-box;
			padding: 5px 4px;
			cursor: pointer;

			&:hover {
				background: #eee;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	#search {
		justify-content: flex-end;
	}
	#search #responsive-search-toggle {
		display: block;

		& #search-open-icon {
			display: block;
		}
		& #search-close-icon {
			display: none;
		}
	}
	#search input[type="search"] {
		display: none;
	}

	body:has(#show-search:checked) {
		& #search input[type="search"] {
			display: block;
			width: calc(100% - 30px);
		}

		& #controls {
			display: none;
		}

		& #search #responsive-search-toggle {
			& #search-open-icon {
				display: none;
			}
			& #search-close-icon {
				display: block;
			}
		}
	}

	body:has(#show-search:checked) #search input[type="search"] {
		display: block;
	}
}

@media screen and (max-width: 425px) {
	header {
		gap: 5px;
	}

	header #app-title h1 {
		font-size: 1em;
	}

	header #app-title h2 {
		font-size: 0.4em;
	}
}

#info-modal-open {
	height: 24px;
	justify-self: flex-end;
}



/* #endregion */

#main-viewer {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#tooltips-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
}

.tooltip {
	position: fixed;
	pointer-events: none;
	display: none;
	z-index: 100;
	text-shadow: 1px 1px #000;
	font-size: 1.3em;
	white-space: pre;
}

#maps-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap row;
	width: 100%;
	height: 100%;

	&[data-displayed-maps='3'] .map {
		width: 33%;
		height: 100%;
	}

	&[data-displayed-maps='2'] .map {
		width: 50%;
		height: 100%;
	}

	&[data-displayed-maps='1'] .map {
		width: 100%;
		height: 100%;
	}
}

.map {
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	border: 1px solid #aaa;

	&#map-sido {
		display: var(--show-sido);
	}

	&#map-sgg {
		display: var(--show-sgg);
	}

	&#map-emdong {
		display: var(--show-emdong);
	}

	&#map-li {
		display: var(--show-li);
	}
}

.map[data-loading='true']::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0004;
	z-index: 9999;
}

.map[data-loading='true']::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;

	border: 4px solid #fff;
	border-top: 4px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.map[data-loading='false']::before {
	content: attr(data-name);
	position: absolute;
	bottom: 25px;
	left: 5px;
	padding: 2px 8px;
	font-size: 1.2em;
	z-index: 10000;
	color: #fff;
	border-radius: 4px;
	background: #000a;
}

#info-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	justify-content: center;
	align-items: center;
	background: #0004;
	backdrop-filter: blur(10px);
	z-index: 999999;
	display: none;
}

#show-modal {
	position: fixed;
	top: -1000px;
	left: -1000px;
}

body:has(#show-modal:checked) #info-container {
	display: flex;
}

label {
	cursor: pointer;
}

#info-modal {
	box-sizing: border-box;
	width: 800px;
	max-width: 90%;
	height: 600px;
	max-height: 80%;
	padding: 20px;
	background: #fff;
	border: 3px solid #ccc4;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #4444;
	overflow-y: scroll;
}

#close-modal {
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 100000;
}