/* #region Body */
body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}

/* #endregion*/

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #region header */

header {
	box-sizing: border-box;
	position: fixed;
	z-index: 200000;
	background: #0008;
	backdrop-filter: blur(5px);
	box-shadow: 0px 2px 5px #0004;
	width: calc(100% - 10px);
	height: 60px;
	top: 5px;
	left: 5px;
	border-radius: 8px;
	color: white;
	padding: 0 10px;
	gap: 5px;
	display: flex;
	align-items: center;
}

#app-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
	text-align: center;
	flex-shrink: 0;

	& h1 {
		margin: 0;
		font-size: 1.6em;
		line-height: 1;
		font-weight: 800;
	}

	& h2 {
		margin: 0;
		font-size: 0.6em;
		font-weight: normal;
	}
}

#controls {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: center;
	overflow-y: auto;
	gap: 10px;
	padding: 0 10px;
	margin-left: auto;
	scrollbar-width: none;
}

.show-toggle {
	--highlight-color: #3f8bfd;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	word-break: keep-all;
	background: white;
	padding: 2px 6px;
	border-radius: 4px;
	margin: 0 5px;
	color: var(--highlight-color);
	font-weight: 500;
	font-size: 1em;
	border: none;
	transition:
		all 0.3s ease,
		outline 0s;
	outline-offset: 2px;
	will-change: transform;

	&:focus {
		outline: 4px solid var(--highlight-color);
	}

	&.active {
		background: var(--highlight-color);
		color: white;
	}

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.95);
		outline: none;
	}

	&::before {
		content: 'visibility';
		font-family: 'Material Symbols Outlined';
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
		margin-right: 4px;
	}

	&.active::before {
		content: 'visibility_off';
	}

	& .toggle-label-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 0.8em;
		line-height: 1;
		padding: 1px 0;

		& .toggle-label-en {
			font-size: 0.8em;
		}
	}
}

#search {
	flex-grow: 1;
	display: flex;
	align-items: center;
	position: relative;
	height: 30px;
	gap: 2px;

	& input {
		border: 2px solid #bbb;
		border-radius: 4px;
		padding: 0 8px;
		margin: 0;
		display: block;
		width: 200px;

		height: 100%;
		outline: none;

		&:focus {
			border-color: #3f8bfd;
		}
	}

	& #responsive-search-toggle {
		display: none;
		cursor: pointer;
		height: 24px;
		border: none;
		background: transparent;
		padding: 0;
		color: white;
	}

	& #search-results {
		display: none;
		position: absolute;
		transform: translateY(5px);
		top: 100%;
		left: 0;
		background: #fff;
		width: 200px;
		color: #000;
		max-height: 100px;
		overflow-y: auto;
		box-shadow: 0px 0px 5px #0002;

		&:has(.search-result) {
			/* Display border only when search results are present, to avoid ugly floating gray bar */
			border: 1px solid #bbb;
		}

		border-radius: 4px;

		& .search-result {
			box-sizing: border-box;
			padding: 5px 4px;
			text-overflow: ellipsis;
			overflow: hidden;
			word-wrap: break-word;
			white-space: nowrap;

			cursor: pointer;

			&:hover {
				background: #eee;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#search {
		justify-content: flex-end;
	}
	#search #responsive-search-toggle {
		display: block;

		& #search-open-icon {
			display: block;
		}
		& #search-close-icon {
			display: none;
		}
	}
	#search input[type='search'] {
		display: none;
	}

	body.search-open {
		& #search input[type='search'] {
			display: block;
			width: calc(100% - 30px);
		}

		& #controls {
			display: none;
		}

		& #search #responsive-search-toggle {
			& #search-open-icon {
				display: none;
			}
			& #search-close-icon {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	header {
		gap: 5px;
	}

	header #app-title h1 {
		font-size: 1em;
	}

	header #app-title h2 {
		font-size: 0.4em;
	}
}

#info-modal-open {
	justify-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin-right: -5px;
	border-radius: 50%;
	border: none;
	background: transparent;
	color: white;
	cursor: pointer;
	outline: none;

	&:hover,
	&:focus {
		background: #fff4;
	}
}

/* #endregion */

#main-viewer {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.tooltip {
	position: fixed;
	pointer-events: none;
	display: none;
	z-index: 10000;
	text-shadow: 1px 1px #000;
	font-size: 1.3em;
	white-space: pre;
	text-align: center;

	& .tooltip-ko {
		line-height: 0.7;
	}

	& .tooltip-en {
		font-size: 0.7em;
	}
}

#maps-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap row;
	width: 100%;
	height: 100%;

	&[data-displayed-maps='3'] .map-wrapper {
		width: calc(100% / 3);
		height: 100%;
	}

	&[data-displayed-maps='2'] .map-wrapper {
		width: 50%;
		height: 100%;
	}

	&[data-displayed-maps='1'] .map-wrapper {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	#maps-container[data-displayed-maps='3'] {
		flex-direction: column;
		& .map-wrapper {
			width: 100%;
			height: calc(100% / 3);
		}
	}

	#maps-container[data-displayed-maps='2'] {
		flex-direction: column;
		& .map-wrapper {
			width: 100%;
			height: 50%;
		}
	}
}

.map-wrapper {
	width: 50%;
	height: 50%;
	position: relative;
	box-sizing: border-box;
	display: none;

	&:has(.map.visible) {
		display: block;
	}
}

.map {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
}

.map[data-loading='true']::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0004;
	z-index: 9999;
}

.map[data-loading='true']::after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;

	border: 4px solid #fff;
	border-top: 4px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.map[data-loading='false']::before {
	content: attr(data-name);
	position: absolute;
	bottom: 25px;
	left: 5px;
	padding: 2px 8px;
	font-size: 1.2em;
	z-index: 10000;
	color: #fff;
	border-radius: 4px;
	background: #000a;
}

/* #region Modal */

#info-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #0004;
	backdrop-filter: blur(10px);
	z-index: 999999;
	display: none;

	&.visible {
		display: flex;
	}
}

label {
	cursor: pointer;
}

#info-modal {
	box-sizing: border-box;
	width: 800px;
	max-width: 90%;
	height: 600px;
	max-height: 80%;
	padding: 20px;
	background: #fff;
	border: 3px solid #ccc4;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #4444;
	overflow-y: scroll;
}

#close-modal {
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 100000;
	border: none;
	background: transparent;
	padding: 10px;
	border-radius: 50%;
	outline: none;

	&:focus,
	&:hover {
		background: #fff4;
	}
}
/* #endregion */
